
.poll {
    background: #b9cfe0;
    padding: 1rem;
}

.title {
    font-size: 2rem;
}

.title-container {
    border-bottom: 1px dotted #cccccc;
    margin-bottom: 0.5rem;
}

.published-container {
    margin-bottom: 1rem;
    color: #888888;
}

.mobile-title {
    padding: 0 1rem;
    font-size: 1.5rem;
}

.btn-no-border-radius {
    border-radius: 0;
}

.options-list {
    padding: 0;
}

.options-list LI {
    list-style: none;
    padding: 0.3rem;
}

/* quick solution for HW*/
.options-list LI:first-child .btn {
    background: #cc774a;
    border-color: #cc774a;
}

.options-list LI:last-child .btn {
    background: #243d66;
    border-color: #243d66;
}

.total-number-container {
    padding: 1rem;
}